{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load cobalt_tags %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "events:admin_summary" congress_id=event.congress.id %}">{{ event.congress.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url "events:admin_event_summary" event_id=event.id %}">{{ event.event_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Off System Payments</li>
  </ol>
</nav>

<div class="container justify-content-center">
  <div class="row h-100 d-flex justify-content-center">
    <div class="card">
      <div class="card-header card-header-warning">
        <h2>Congress Admin View</h2>
        <h3>{{ event.congress }}</h3>
      </div>
      <div class="card-body">

        <div class="card">
          <div class="card-header card-header-info">
            <h2>{{ event.event_name }} - Off System Payments</h2>
          </div>

          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-info">
                <th>Player</th>
                <th class="text-right">Entry Fee ({{ GLOBAL_CURRENCY_SYMBOL }})</th>
                <th class="text-right">Received ({{ GLOBAL_CURRENCY_SYMBOL }})</th>
                <th>Payment Method</th>
                <th class="text-right">Status</th>
                <th class="text-right">Action</th>
              </thead>
              <tbody>
                {% for event_entry_player in players %}

                  <tr>
                    <td>
                      {{ event_entry_player.player|cobalt_user_link }}
                    </td>
                    <td class="text-right">{{ event_entry_player.entry_fee }}</td>
                    <td class="text-right">{{ event_entry_player.payment_received }}</td>
                    <td class="text-left">{{ event_entry_player.get_payment_type_display }}</td>
                    <td class="text-right">{{ event_entry_player.payment_status }}</td>
                    <td class="text-right"><button class="btn btn-sm btn-success button_pay" id="button_pay_{{ event_entry_player.id }}">pay</button>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}

<script>
  $(document).ready(function(){

    // pay button
    $(".button_pay").click(function(){

      // which row
      var id = this.id.split("_")[2]

      var serializedData = {
        "event_entry_player_id": id,
      };

      $.ajax({
        url: '{% url "events:admin_offsystem_pay_ajax" %}',
        method: "POST",
        headers: {'X-CSRFToken': '{{ csrf_token }}'},
        data: serializedData,
        dataType: "json"
      }).done(function(response) {
        location.reload();
      });


    });

  });
</script>

{% endblock %}
