{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load cobalt_tags %}

{% block content %}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "events:admin_summary" congress_id=congress.id %}">{{ congress.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url "events:admin_event_summary" event_id=event.id %}">{{ event.event_name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Entry: {{ event_entry.id }}</li>
  </ol>
</nav>

<div class="container justify-content-center">
  <div class="row h-100 d-flex justify-content-center">
    <div class="card">
      <div class="card-header card-header-warning">
        <h2>Congress Admin View</h2>
        <h3>{{ event.congress }}</h3>
      </div>
      <div class="card-body">

        <div class="card">
          <div class="card-header card-header-info">
            <h2>{{ event.event_name }} - Entry</h2>
          </div>

          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead class="text-info">
                <th>Players</th>
                <th class="text-right">Received</th>
                <th class="text-right">Entry Fee</th>
                <th class="text-right">Status</th>
                <th class="text-right">Payment Type</th>
                <th class="text-right">Paid By</th>
                <th class="text-right">Entry Fee Reason</th>
                <th class="text-right">Entry Complete</th>
                <th class="text-right">Action</th>
              </thead>
              <tbody>
                {% for event_entry_player in event_entry.evententryplayer_set.all %}

                  <tr>
                    <td>
                      {{ event_entry_player.player|cobalt_user_link }}
                    </td>
                    <td class="text-right">{{ event_entry_player.payment_received }}</td>
                    <td class="text-right">{{ event_entry_player.entry_fee }}</td>
                    <td class="text-right">{{ event_entry_player.payment_status }}</td>
                    <td class="text-right">{{ event_entry_player.get_payment_type_display }}</td>
                    <td class="text-right">{{ event_entry_player.paid_by.full_name }}</td>
                    <td class="text-right">{{ event_entry_player.reason }}</td>
                    <td class="text-right">{{ event_entry_player.entry_complete_date|cobalt_nice_datetime|default_if_none:"-" }}</td>
                    <td class="text-right"><a href="{% url "events:admin_evententryplayer" evententryplayer_id=event_entry_player.id %}" class="btn btn-sm btn-info">Edit</a></td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
