{% extends preview|yesno:"empty.html,base.html" %}
{% load static %}

{% block content %}
{% if congress.raw_html %}
{{ congress.raw_html|safe }}
{% else %}


<div class="col-lg-12 col-md-12">
<div class="card">
<div class="card-header card-header-warning">
<h2 class="card-title">{{ congress.name }}</h2>
<h3>{{ congress.date_string }}</h3>
</div>
<div class="card-body table-responsive">
<div class="row">
<div class="col-lg-4 col-md-4">
  <div class="card">
    <div class="card-header card-header-success">
      <h4 class="card-title">People</h4>
    </div>
    <div class="card-body table-responsive">
      <!-- <table>
        <tr>
          <td>Organiser:
          <td>Justine Beaumont
        </tr>
        <tr>
          <td>Phone:
          <td>0414 637 075
        </tr>
        <tr>
          <td>Email:
          <td>cib@abf.com.au
        </tr>
        <tr>
          <td>Chief Tournament Director:
          <td>John McIlrath
        </tr>
      </table> -->
      {{ congress.people|safe }}
    </div>
  </div>
</div>


<div class="col-lg-4 col-md-4">
  <div class="card">
    <div class="card-header card-header-primary">
      <h4 class="card-title">Links</h4>
    </div>
    <div class="card-body table-responsive">
      <ul>
        <li><a href="http://www.abfevents.com.au/events/cib/2019/docs/2019CIBBrochure.pdf">Brochure</a></li>
        <li><a href="http://www.abfevents.com.au/events/cib/2019/restaurants.asp#pgid">Restaurants</a></li>
        <li><a href="#">Past Results</a></li>
        <li><a href="#">Photos</a></li>
      </ul>
    </div>
  </div>
</div>

</div>

<div class="col-lg-8 col-md-8">
  <div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">General Information</h4>
    </div>
    <div class="card-body table-responsive">
     {{ congress.general_info|safe }}
    </div>

  </div>
</div>


<div class="col-lg-8 col-md-8">
  <div class="card">
    <div class="card-header card-header-success">
      <h4 class="card-title">Location - {{ congress.venue_name }}</h4>
    </div>
    <div class="card-body table-responsive">
      <div id="regularMap" class="map"></div>
    </div>

  </div>
</div>

{% if congress.venue_transport %}
<div class="col-lg-8 col-md-8">
  <div class="card">
    <div class="card-header card-header-success">
      <h4 class="card-title">Transport</h4>
    </div>
    <div class="card-body table-responsive">
      {{ congress.venue_transport|safe }}
    </div>
  </div>
</div>
{% endif %}

{% if congress.venue_catering %}
<div class="col-lg-8 col-md-8">
  <div class="card">
    <div class="card-header card-header-success">
      <h4 class="card-title">Catering</h4>
    </div>
    <div class="card-body table-responsive">
      {{ congress.venue_catering|safe }}
    </div>
  </div>
</div>
{% endif %}

{% if congress.venue_additional_info %}
<div class="col-lg-8 col-md-8">
  <div class="card">
    <div class="card-header card-header-success">
      <h4 class="card-title">Additonal Information</h4>
    </div>
    <div class="card-body table-responsive">
      {{ congress.venue_additional_info|safe }}
    </div>
  </div>
</div>
{% endif %}



<div class="col-lg-8 col-md-8">
  <div class="card">
    <div class="card-header card-header-success">
      <h4 class="card-title">Program</h4>
    </div>
    <div class="card-body table-responsive">
    <div class="table-responsive">
        <table border class="table">
            <thead class="text-primary">
              <th>Event</th>
              <th>Day</th>
              <th>Time</th>
              <th>Action</th>
            </thead>
            <tbody>
                <tr>
                    <td><span>Royal Bluebell Matchpoint Swiss Pairs</span></td>
                    <td>Friday</td>
                    <td>04-10-2019 - 10am &amp; 2pm</td>
                    <td><a href="./enter-enter-event.html">Enter</a>
                    <br><a href="./view-event.html">View Entries</a></td>
                </tr>
                 <tr>
                    <td><span class="title">Spider Orchid Novice &amp; Restricted Matchpoint Swiss Pairs</span></td>
                    <td>Friday</td>
                    <td>04-10-2019 - 10am &amp; 2pm</td>
                    <td><a href="./enter-enter-event.html">Enter</a>
                    <br><a href="./view-event.html">View Entries</a></td>
                </tr>
                <tr>
                    <td rowspan="2"><span class="title">Golden Wattle Open Teams</span></td>
                    <td>Saturday </td>
                    <td>05-10-2019 - 10am &amp; 2.20pm</td>
                    <td rowspan="2"><a href="./enter-enter-event.html">Enter</a>
                    <br><a href="./view-event.html">View Entries</a></td>


                </tr>

                <tr>
                    <td>Sunday</td>
                    <td>06-10-2019 - 10am</td>


                </tr>

                <tr>
                    <td rowspan="2"><span class="title">Val &amp; John Brockwell Mixed Teams Qualifying<br /><br />NEW EVENT</span></td>
                    <td>Saturday </td>
                    <td>05-10-2019 - 10am &amp; 2.20pm</td>

                    <td rowspan="2"><a href="./enter-enter-event.html">Enter</a>
                    <br><a href="./view-event.html">View Entries</a></td>
                </tr>

                <tr>
                    <td>Sunday</td>
                    <td>06-10-2019 - 10am</td>

                </tr>

                <tr>
                    <td rowspan="2"><span class="title">Val &amp; John Brockwell Mixed Teams Finals</span></td>
                    <td>Sunday</td>
                    <td>06-10-2019 - 2.15pm</td>

                    <td rowspan="2"><a href="./enter-enter-event.html">Enter</a>
                    <br><a href="./view-event.html">View Entries</a></td>
                </tr>

                <tr>
                    <td>Monday</td>
                    <td>07-10-2019 - 10am</td>

                </tr>

                <tr>
                    <td rowspan="2"><span class="title">Canberra Bells Swiss Pairs</span>
                    </td>
                    <td>Sunday</td>
                    <td>06-10-2019 - 2.15pm </td>

                    <td rowspan="2"><a href="./enter-enter-event.html">Enter</a>
                    <br><a href="./view-event.html">View Entries</a></td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>07-10-2019 - 10am &amp; 2.15pm</td>

                    </tr>
                <tr>
                    <td rowspan="2"><span class="title">Federation Rose Novice &amp; Restricted Swiss Pairs</span>
                    </td>
                    <td>Sunday</td>
                    <td>06-10-2019 - 2.15pm </td>

                    <td rowspan="2"><a href="./enter-enter-event.html">Enter</a>
                    <br><a href="./view-event.html">View Entries</a></td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>07-10-2019 - 10am &amp; 2.15pm</td>

                </tr>
                </tbody>
            </table>
          </div>
  {{ congress.additional_info|safe }}




    </div>

  </div>
</div>

<!-- end raw HTML if/else -->
{% endif %}
{% endblock %}

{% block footer %}

<!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt0qnOZKvnJzLO83eg1KB0k8l5SH-NGzY"></script>

  <script>
    $(document).ready(function() {
      var myLatlng = new google.maps.LatLng({{ congress.venue_location }});
      var mapOptions = {
        zoom: 14,
        center: myLatlng,
        scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
      }

      var map = new google.maps.Map(document.getElementById("regularMap"), mapOptions);

      var marker = new google.maps.Marker({
        position: myLatlng,
        title: "Regular Map!"
      });

      marker.setMap(map);



    });
  </script>
{% endblock %}
