{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block headerjs %}
{% include "events/congress_wizard_include_header.html" %}
{% endblock %}
{% block content %}
{% include "events/congress_wizard_include_body.html" %}

<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header card-header-primary">
        <h2>General Information</h2>
      </div>
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h3>{{ congress.congress_master }}</h3>
            </div>
          </div>
          <br>
          <form method="POST">
            {% csrf_token %}

            <div class="row">
              <div class="col-3 justify-content-center align-self-center">
                Year
              </div>
              <div class="col-7">
                <div id="div_id_name" class="form-group">
                  <span class="cobalt-form-error" id="id_year_errors">{{ form.year.errors|striptags }}</span>
                  {% render_field form.year class+="form-control" %}
                </div>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="#" onclick='help("Congress Year", "The year that this event will take place.");'>help</a>
              </div>
            </div>

            <div class="row">
              <div class="col-3 justify-content-center align-self-center">
                Name
              </div>
              <div class="col-7">
                <div id="div_id_name" class="form-group">
                  <span class="cobalt-form-error" id="id_name_errors">{{ form.name.errors|striptags }}</span>
                  {% render_field form.name class+="form-control" %}
                </div>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="#" onclick='help("Congress Name", "The name you wish to give this congress. Typically the Congress Master plus the Year.");'>help</a>
              </div>
            </div>

            <div class="row">
              <div class="col-3 justify-content-center align-self-center">
                Dates
              </div>
              <div class="col-7">
                <div id="div_id_date_string" class="form-group">
                  <span class="cobalt-form-error" id="id_date_string_errors">{{ form.date_string.errors|striptags }}</span>
                  {% render_field form.date_string class+="form-control" %}
                </div>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="#" onclick='help("Date String", "Free format text for the dates of the congress. e.g. 23rd March 2021 to 29th March 2021.");'>help</a>
              </div>
            </div>

            <div class="row">
              <div class="col-3 justify-content-center align-self-center">
                Default Email Address
              </div>
              <div class="col-7">
                <div id="div_id_default_email" class="form-group">
                  <span class="cobalt-form-error" id="id_date_string_errors">{{ form.default_email.errors|striptags }}</span>
                  {% render_field form.default_email class+="form-control" %}
                </div>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="#" onclick='help("Default Email", "Email address to use if we need to contact the congress.");'>help</a>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-10 justify-content-center align-self-center">
                <h3>People</h3>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="#" onclick='help("People", "List people and contact details.");'>help</a>
              </div>
              <div class="col-12">
                {{ form.people|as_crispy_field }}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-10 justify-content-center align-self-center">
                <h3>General Information</h3>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="#" onclick='help("General Info", "This goes near the top and should describe high level things about the congress.");'>help</a>
              </div>
              <div class="col-12">
                {{ form.general_info|as_crispy_field }}
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-10 justify-content-center align-self-center">
                <h3>Additional Information (footer)</h3>
              </div>
              <div class="col-2 justify-content-center align-self-center">
                <a href="#" onclick='help("Additional Info", "This is extra info for the bottom of the page if required.");'>help</a>
              </div>
              <div class="col-12">
                {{ form.additional_info|as_crispy_field }}
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <button class="btn btn-info btn-sm cobalt-save">Next</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
{% block footer %}
{% include "events/congress_wizard_include_footer.html" %}

<script>
$(document).ready(function(){
  $("#id_year").change(function(){
    var name_id=$("#id_name");
    if (name_id.val()=="") {
      name_id.val("{{ congress.congress_master.name }} " + $("#id_year").val())
    }
  });
});
</script>
{% endblock %}
