{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block headerjs %}

<!-- The js libraries are a problem for Summernote so we override thwm here -->

<script src="{% static "assets/js/core/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "assets/js/core/popper.min.js" %}"></script>

  <link href="{% static "assets/css/material-dashboard.css" %}?v=2.1.1" rel="stylesheet" />
  <script src="{% static "assets/js/core/bootstrap-material-design.min.js" %}"></script>

  <link rel="stylesheet" href="{% static "assets/css/bootstrap.4.0.0.min.css" %}">


<style> /* remove bug from summernote height in codeview mode */
  .note-codable { min-height: 600px !important; }
  .note-editable {
  line-height: 1.0;
  background-color: {{ forum.bg_colour }} !important; color: {{ forum.fg_colour }} !important;
}
.cobalt-min-width-100 {
  min-width: 100%;
}
</style>
{% endblock %}
{% block content %}

<!-- Instead of using {{ form.media }} we hardcode the static files here
     so we can control the version that we use. Django-summernote comes with
     an older version of summernote that has some bugs especially relating
     to how it shakes when it is slowly scrolled. We point to a newer
     version of summernote and it fixes the problem. -->

<link href="{% static "forums/summernote/summernote-bs4.css" %}" type="text/css" media="all" rel="stylesheet">
<link href="{% static "forums/summernote/django_summernote.css" %}" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="{% static "forums/summernote/jquery.ui.widget.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/jquery.iframe-transport.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/jquery.fileupload.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/summernote-bs4.min.js" %}"></script>
<script type="text/javascript" src="{% static "forums/summernote/ResizeSensor.js" %}"></script>

<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header card-header-warning">
      <h2 class="card-title">Create New Congress</h2>

    </div>
    <div class="card-body table-responsive">
      <div class="row">

        <form method="post">
          {% csrf_token %}
          <table class="">
            {{ form.as_table }}
          </table>
          {% if congress.status == "Draft" %}
            <button type="submit" name="Save" class="btn btn-success">Save</button>
            <button type="submit" name="Preview" class="btn btn-warning">Preview</button>
            <button type="submit" name="Publish" class="btn btn-primary">Publish</button>
            <button type="submit" name="Delete" class="btn btn-danger">Delete</button>
            {% elif congress.status == "Published" %}
            <button type="submit" name="Publish" class="btn btn-primary">Publish</button>
            <button type="submit" name="Delete" class="btn btn-danger">Delete</button>
            {% else %}
            <button type="submit" name="Save" class="btn btn-success">Save</button>
            <button type="submit" name="Preview" class="btn btn-warning">Preview</button>
            <button type="submit" name="Publish" class="btn btn-primary">Publish</button>
          {% endif %}
          </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
<script src="{% static "forums/assets/js/summernote-plugin-spades.js" %}"></script>
<script src="{% static "forums/assets/js/summernote-plugin-hearts.js" %}"></script>
<script src="{% static "forums/assets/js/summernote-plugin-diamonds.js" %}"></script>
<script src="{% static "forums/assets/js/summernote-plugin-clubs.js" %}"></script>
<!-- <script src="{% static "forums/assets/js/summernote-plugin-hand.js" %}"></script> -->

<!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDt0qnOZKvnJzLO83eg1KB0k8l5SH-NGzY"></script>

  <script>
    $(document).ready(function() {
      var myLatlng = new google.maps.LatLng({{ congress.venue_location }});
      var mapOptions = {
        zoom: 14,
        center: myLatlng,
        scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
      }

      var map = new google.maps.Map(document.getElementById("regularMap"), mapOptions);

      var marker = new google.maps.Marker({
        position: myLatlng,
        title: "Regular Map!"
      });

      marker.setMap(map);



    });
  </script>
{% endblock %}
