{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card">
  <div class="card-header card-header-primary">
    <h2>
    <div class="d-flex justify-content-between">
    <div>
       Congresses
    </div>
    <div>
       <i class="material-icons" style="font-size:50px">book_online</i>
    </div>
  </h2>
  </div>
  <div class="card-body">

    <div class="d-flex justify-content-between">
          <div>
            {% if draft_congress_flag %}
              <a class="text-left" href="{% url "events:view_draft_congresses" %}">View Draft Congresses</a>
            {% endif %}
            </div>

          <div class="pb-5">
            {% if admin %}
              <a class="text-right" href="{% url "events:create_congress_wizard" %}">Create New Congress</a>
            {% endif %}
          </div>
     </div>

    {% for month, congresses in grouped_by_month.items %}

    <img src="{% static "assets/img/congress.jpg "%}" alt="congress" width="200px">
    <h2>{{ month }}</h2>
    {% for congress in congresses %}
    <div class="card text-center col-md-6">
      <div class="card-body">
        <a class="btn btn-sm btn-danger" href="{% url "events:view_congress" congress_id=congress.id %}">{{ congress }}
        by {{ congress.congress_master.org }}
        </a>
        <p>{{ congress.date_string }}</p>
        {% if congress.convener %}
        <a href="{% url "events:create_congress_wizard" congress_id=congress.id step=2 %}" class="btn btn-sm btn-success">Edit</a>
        <a class="btn btn-sm btn-info" href="{% url "events:admin_summary" congress_id=congress.id %}">Manage</a>
        {% endif %}
      </div>
      <div class="card-footer text-muted">
        {{ congress.msg }}
      </div>
    </div>

    {% endfor %}
    {% endfor %}

  </div>
</div>

{% endblock %}
