{% extends "base_logged_out.html" %}
{% load static %}

{% block content %}


<div class="container">


<div class="parallax">
</div>

<button>UPCOMING CONGRESSES </button>

</div>





    {% for month, congresses in grouped_by_month.items %}
    <div class="boldfeature" style="min-height: 120px;">

    <h1>{{ month }}</h1>

    </div>

    <br>

    {% for congress in congresses %}


    <div class="newsitem">

    <h2>{{ congress }}</h2>

    <p>
      by {{ congress.congress_master.org }}
    </p>
    <p>
      {{ congress.date_string}}
    </p>
    <p>
      {{ congress.msg }}
    </p>
      <button><a href="{% url "events:view_congress" congress_id=congress.id %}"> DETAILS </a></button>
    </div>


    {% endfor %}
    {% endfor %}


{% endblock %}
