{% extends 'base.html' %}

{% block content %}

<div class="card">
  <div class="card-header card-header-primary">
    <h2>Congresses</h2>
  </div>
  <div class="card-body">
    <a href="{% url "events:create_congress" %}" class="btn btn-success">Create</a>
    <a href="{% url "events:create_congress" %}" class="btn btn-info">Copy</a>
    <ul>
      {% for congress in congresses %}
        <li>
          <a href="{% url "events:view_congress" congress_id=congress.id %}">{{ congress }} {{ congress.status }}</a>
          <a href="{% url "events:edit_congress" congress_id=congress.id %}" class="btn btn-sm btn-success">Edit</a>

        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
