{% extends 'base.html' %}

{% load static %}

{% block content %}

  <div class="container">
    {% for forum in forums %}
    <div class="row">
      <div class="col-md-8 align-self-center">
        <div class="card card-block">
          <div class="card-body">
            <h4 class="card-title"><a href="{% url "forums:post_list_single_forum" forum_id=forum.id %}">{{ forum.title }} ({{ forum.count }} post{{ forum.count|pluralize}})</a></h4>
            <p class="category">{{ forum.description }}</p>
            <h4>Latest Post</h4>
             {{ forum.latest_title }} {{ forum.latest_author }} {{ forum.latest_date }}
          </div>
        </div>
      </div>
      <div class="col-md-4 my-auto">
        <a href="{% url "forums:post_list_single_forum" forum_id=forum.id %}" class="btn btn-sm btn-primary">View</a>
        {% if forum.follows %}
          <button class="btn btn-sm btn-info cobalt-unfollow" id="unfollow-{{ forum.id }}">Un-follow</button>
        {% else %}
          <button class="btn btn-sm btn-success cobalt-follow" id="follow-{{ forum.id }}">Follow</button>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}

{% block footer %}

<script>

// handle follow and unfollow

  function follow(id){
    alert("Ive been called");
    forum = id.split('-')[1];
    var url = "/forums/forum/follow/" + forum +"/";

    $.ajax({
        url: url,
        context: document.body,
        success: function(txt){
          alert("follow " + txt);

        }
    });
  }

  function unfollow(id){
    forum = id.split('-')[1];
    var url = "/forums/forum/unfollow/" + forum +"/";

    $.ajax({
        url: url,
        context: document.body,
        success: function(txt){
          alert("unfollow");

        }
    });
  }

  $(document).ready(function () {

// if a user clicks follow - follow this forum and set the button to be unfollow
    $(".cobalt-follow").click(function () {
        alert("Click function for follow");
        follow(this.id);
        $('#' + this.id).off('click');
        $('#' + this.id).click(function () {
          alert("inside");
          unfollow(this.id);
        })
     });

      $(".cobalt-unfollow").click(function () {
           forum = this.id.split('-')[1];
           var url = "/forums/forum/unfollow/" + forum +"/";

           $.ajax({
               url: url,
               context: document.body,
               success: function(txt){
                 alert("done");
               }
           });
       });
    });


</script>

{% endblock %}
