{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<h2>Create New Forum</h2>

<form method="post">
  <!-- <div>
    <div class="row">
      <div class="col-3">
        {{ filter.form.author.label_tag }}
        <span class="cobalt-form-error">{{ filter.form.author.errors|striptags }}</span>
        {% render_field filter.form.author class+="form-control" %}
      </div>
      <div class="col-3">
        <label  class="bmd-label-static">{{ filter.form.forum.label_tag }}</label>
        <span class="cobalt-form-error">{{ filter.form.forum.errors|striptags }}</span>
        {% render_field filter.form.forum class+="form-control" %}
      </div>
      <div class="col-3">
        <label  class="bmd-label-static">{{ filter.form.title.label_tag }}</label>
        <span class="cobalt-form-error">{{ filter.form.title.errors|striptags }}</span>
        {% render_field filter.form.title class+="form-control" %}
      </div>

    </div> -->
    <ul>
    {% csrf_token %}
    {{ form.as_p }}
    </ul>
    <button class="btn btn-info" type="submit">
      Create
    </button>
</form>

{% endblock %}
