{% extends 'base.html' %}
{% block content %}

<div class="card card-nav-tabs">
  <div class="card-header card-header-warning">
    <h1>{{ post.title }}</h1>
    <a href="{% url 'public_profile' pk=post.author.pk %}">
          <img width="50px" class="rounded-circle float-left" src="/media/{{ post.author.pic }}" />
          <h4>{{ post.author.full_name }}</h4>
        </a>
    <div class="card-title d-flex justify-content-between">
          <div>
                {{ post.created_date }}
          </div>
          <div>
            Forum: {{ post.forum.title }}
          </div>
     </div>
  </div>
  <div class="card-body">
    <p class="card-text">{{ post.text|safe }}</p>
    <span class="float-right">
      <a href="#"> {{ total_comments }} <i class="material-icons">comment</i>
      <a href="#"> {{ post_likes.count }} <i class="material-icons">thumb_up</i>
    </span>
  </div>
</div>

{% if total_comments == 0 %}
  <h4>Be the first to comment</h4>
{% else %}
<h4>Comments</h4>
{% endif %}
{% for c1 in comments1 %}
<div class="card">
  <div class="card-body">

    <div class="card-title d-flex justify-content-between">
          <div>
            <a href="{% url 'public_profile' pk=c1.author.pk %}">
                <img width="50px" class="rounded-circle float-left" src="/media/{{ c1.author.pic }}" />
                <h4>{{ c1.author.full_name }}</h4>
            </a>
          </div>
          <div>
             {{ c1.created_date }}
          </div>
     </div>
    <p class="card-text">{{ c1.text|linebreaksbr }}</p>
    <span class="float-right">
      <a href="#"> {{ c1.c1_likes}} <i class="material-icons">thumb_up</i>
    </span>
  </div>
</div>

<div class="col-8">

  {% for c2 in c1.c2 %}
  <div class="card">
    <div class="card-body bg-light">
      <div class="card-title d-flex justify-content-between">
            <div>
               {{ c2.author.full_name }}
            </div>
            <div>
               {{ c2.created_date }}
            </div>
       </div>
    <p class="card-text">{{ c2.text|linebreaksbr }}</p>
    <span class="float-right">
      <a href="#"> {{ c2.c2_likes}} <i class="material-icons">thumb_up</i>
    </span>
    </div>
  </div>
  {% endfor %}
  <h4>Reply to Thread</h4>
  <form method="POST" class="post-form">{% csrf_token %}
    <input type="hidden" id="id_post" name="post" value="{{ post.id }}">
    <input type="hidden" id="id_comment1" name="comment1" value="{{ c1.id }}">
    {{ form2.text }}
      <button type="submit" name="submit-c2" class="save btn btn-default">Reply to Thread</button>
  </form>
</div>

{% endfor %}

<form method="POST" class="post-form">{% csrf_token %}
  <input type="hidden" id="id_post" name="post" value="{{ post.id }}">
  {{ form.text }}
    <button type="submit" name="submit-c1" class="save btn btn-default">Reply to Post</button>
</form>

{% endblock %}
