{% extends 'base-post.html' %}

{% block header %}

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style> /* remove bug from summernote height in codeview mode */
  .note-codable { min-height: 600px !important; }
  .note-editable {
  line-height: 0.1;
}
</style>

{% endblock %}

{% block content %}

{{ form.media }}


<script src="/static/assets/js/summernote-plugin-spades.js"></script>
<script src="/static/assets/js/summernote-plugin-hearts.js"></script>
<script src="/static/assets/js/summernote-plugin-diamonds.js"></script>
<script src="/static/assets/js/summernote-plugin-clubs.js"></script>

<div class="content container">
  <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <div class="card-title">
              <h2>New Post by {{ request.user.full_name }}</h2>
            </div>
          </div>
          <div class="card-body">
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
        </div>
      </div>
  </div>
</div>

<script>
$('.summernote').summernote({ followingToolbar: false });
</script>
{% endblock %}
