<script>

jQuery(document).ready(function() {
  // reload if back button used. Buttons are a mess otherwise
  if(performance.navigation.type == 2){
     location.reload(true);
  }

// change view if checkbox changes
  $(".cobalt-checkbox").change(function(){
    var preview = $("#id_preview").is(":checked");
    var all_forums = $("#id_all_forums").is(":checked");
    window.location.href = "{% url "forums:post_list_filter" %}?preview_view=" + preview + "&all_forums=" + all_forums;
  });
});

</script>
