##################################
# Elastic Beanstalk AWS commands #
##################################

option_settings:

# WSGI location
  aws:elasticbeanstalk:container:python:
    WSGIPath: cobalt.wsgi:application

# Application load balancer
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application

# tell health where to connect
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: "HTTPS:443/health"

# load our SSL keys so we can ssh to box
  aws:autoscaling:launchconfiguration:
    EC2KeyName: "cobalt"


#  "aws:elbv2:loadbalancer":


  aws:elbv2:listener:443:
      DefaultProcess: https
      ListenerEnabled: 'true'
      Protocol: HTTPS
      Rules: health
      SSLCertificateArns: arn:aws:acm:ap-southeast-2:730536189139:certificate/6c452886-913a-45b7-82e4-19966e587261

    aws:elasticbeanstalk:environment:process:https:
      Port: '443'
      Protocol: HTTPS

    aws:elasticbeanstalk:environment:process:health:
      HealthCheckPath: /health
      Port: '443'
      Protocol: HTTPS

    aws:elbv2:listenerrule:health:
      PathPatterns: /health/*
      Process: health
      Priority: 1


packages:
  yum:
    postgresql.x86_64: []
