---
option_settings:
  ? "aws:autoscaling:launchconfiguration"
  :
    EC2KeyName: cobalt
  ? "aws:elasticbeanstalk:application"
  :
    ? "Application Healthcheck URL"
    : "HTTPS:443/health"
  ? "aws:elasticbeanstalk:container:python"
  :
    WSGIPath: "cobalt.wsgi:application"
  ? "aws:elasticbeanstalk:environment:process:health"
  :
    HealthCheckPath: /health
    Port: "443"
    Protocol: HTTPS
  ? "aws:elasticbeanstalk:environment:process:https"
  :
    Port: "443"
    Protocol: HTTPS
  ? "aws:elbv2:listener:443"
  :
    DefaultProcess: https
    ListenerEnabled: "true"
    Protocol: HTTPS
    Rules: health
    SSLCertificateArns: "arn:aws:acm:ap-southeast-2:730536189139:certificate/6c452886-913a-45b7-82e4-19966e587261"
  ? "aws:elbv2:listenerrule:health"
  :
    PathPatterns: /health/*
    Priority: 1
    Process: health
packages:
  yum:
    postgresql.x86_64: []
