################################
# manage.py commands           #
################################

container_commands:

  01_migrate:
    command: ". /var/app/venv/staging-LQM1lest/bin/activate; python manage.py migrate"
    leader_only: true

  02_user:
    command: ". /var/app/venv/staging-LQM1lest/bin/activate; python manage.py createsu"
    leader_only: true

  03_static:
    command: ". /var/app/venv/staging-LQM1lest/bin/activate; python manage.py collectstatic --noinput"

  04_default_avatars:
    command: "cp static/copy-to-media/pic_folder/* /cobalt-media/pic_folder/"
    leader_only: true

#  05_testdatausers:
#    command: ". /var/app/venv/staging-LQM1lest/bin/activate; python manage.py createdummyusers"
#    leader_only: true

#  06_testdataclubs:
#    command: ". /var/app/venv/staging-LQM1lest/bin/activate; python manage.py importclubs"
#    leader_only: true

  07_forums_rbac:
    command: ". /var/app/venv/staging-LQM1lest/bin/activate; python manage.py add_rbac_static_forums"
    leader_only: true

  08_payments_rbac:
    command: ". /var/app/venv/staging-LQM1lest/bin/activate; python manage.py add_rbac_static_payments"
    leader_only: true

  09_payments_orgs:
    command: ". /var/app/venv/staging-LQM1lest/bin/activate; python manage.py add_rbac_static_orgs"
    leader_only: true

  10_events_orgs:
    command: ". /var/app/venv/staging-LQM1lest/bin/activate; python manage.py add_rbac_static_events"
    leader_only: true
