########################################
# Django specific settings             #
# seems to conflict with 3-aws-commands
########################################
# option_settings:
#  aws:elasticbeanstalk:container:python:
#    WSGIPath: cobalt/wsgi.py
#  aws:elasticbeanstalk:environment:proxy:staticfiles:
#      /static: static
