container_commands:

#  01_migrate:
#    command: "python manage.py migrate"
#    leader_only: true

#  02_user:
#    command: "python manage.py createsu"
#    leader_only: true

  03_static:
    command: "python manage.py collectstatic --noinput"

  04_default_avatar:
    command: "cp static/assets/img/default-avatar.png /cobalt-media/pic_folder/"
    leader_only: true

#  05_testdatausers:
#    command: "python manage.py createdummyusers"
#    leader_only: true

#  06_testdataclubs:
#    command: "python manage.py importclubs"
#    leader_only: true

  07_forums_rbac:
    command: "python manage.py add_rbac_static_forums"
    leader_only: true

  08_payments_rbac:
    command: "python manage.py add_rbac_static_payments"
    leader_only: true

  08_payments_orgs:
    command: "python manage.py add_rbac_static_orgs"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cobalt.settings"
    PYTHONPATH: "$PYTHONPATH"
    DEFAULT_FROM_EMAIL: "'ABF Tech Test System<donotreply@abftech.com.au>'"
    EMAIL_HOST: "email-smtp.ap-southeast-2.amazonaws.com"
    FILE_SYSTEM_ID: "fs-19f5e820"
    AWS_ACCESS_KEY_ID: "AKIA2UF2ZTTJQCXD4LUW"
    EMAIL_HOST: "email-smtp.ap-southeast-2.amazonaws.com"
    EMAIL_HOST_USER: "AKIA2UF2ZTTJZE3K6BSY"
    GLOBAL_MPSERVER: "http://masterpoints-test.eba-eantgkuf.ap-southeast-2.elasticbeanstalk.com"
    MOUNT_DIRECTORY: "/cobalt-media"
    RDS_DB_NAME: "ebdb"
    RDS_HOSTNAME: "cobalt-test.c97jawiow7ed.ap-southeast-2.rds.amazonaws.com"
    RDS_PORT: "5432"
    RDS_USERNAME: "postgres"
    STRIPE_PUBLISHABLE_KEY: "pk_test_vx2RPX6BXeETHa3MJycvArkx"
    STRIPE_SECRET_KEY: "TBA"
    RDS_PASSWORD: "TBA"
    EMAIL_HOST_PASSWORD: "TBA"
    AWS_SECRET_ACCESS_KEY: "TBA"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: "cobalt.wsgi:application"
#    WSGIPath: "cobalt/wsgi.py"
#    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql.x86_64: []
    #postgresql95-devel: []
