container_commands:



  02_make_migrate:
    command: "python manage.py makemigrations"
    leader_only: true

  03_make_migrate2:
    command: "python manage.py makemigrations accounts"
    leader_only: true

  04_migrate:
    command: "python manage.py migrate"
    leader_only: true

  05_user:
    command: "python manage.py createsu"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cobalt.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "cobalt/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql95-devel: []
