container_commands:

#  01_migrate:
#    command: "python manage.py migrate"
#    leader_only: true

#  02_user:
#    command: "python manage.py createsu"
#    leader_only: true

  03_static:
    command: "python manage.py collectstatic --noinput"

#  04_default_avatar:
#    command: "cp static/assets/img/default-avatar.png /cobalt-media/pic_folder/"
#    leader_only: true

#  05_testdatausers:
#    command: "python manage.py createdummyusers"
#    leader_only: true

#  06_testdataclubs:
#    command: "python manage.py importclubs"
#    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "cobalt.settings"
    PYTHONPATH: "$PYTHONPATH"
    DEFAULT_FROM_EMAIL: "test@abftech.com.au"
    EMAIL_HOST: "email-smtp.ap-southeast-2.amazonaws.com"
    FILE_SYSTEM_ID: "fs-19f5e820"

  "aws:elasticbeanstalk:container:python":
    WSGIPath: "cobalt.wsgi:application"
#    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql.x86_64: []
    #postgresql95-devel: []
