################################
# installs basic support files #
# on each environment.         #
################################
files:
  "/root/.bashrc":
      mode: "000755"
      content : |
        #!/bin/bash
        # root now so do stuff

        . /var/app/venv/staging-LQM1lest/bin/activate
        `cat /opt/elasticbeanstalk/deployment/env | awk '{print "export",$1}'`
        cd /var/app/current
        echo "oh yes"
