################################
# installs basic support files #
# on each environment.         #
################################
files:
  "/root/ascii.txt":
      mode: "000755"
      content : |

       ________                     __
      /        |                   /  |
      $$$$$$$$/______    _______  _$$ |_
         $$ | /      \  /       |/ $$   |
         $$ |/$$$$$$  |/$$$$$$$/ $$$$$$/
         $$ |$$    $$ |$$      \   $$ | __
         $$ |$$$$$$$$/  $$$$$$  |  $$ |/  |
         $$ |$$       |/     $$/   $$  $$/
         $$/  $$$$$$$/ $$$$$$$/     $$$$/
