################################
# installs basic support files #
# on each environment.         #
################################
files:
  "/usr/local/bin/tlog":
      mode: "000755"
      content : |
        #!/bin/bash

        clear
        echo
        echo Logs live in /var/log
        echo
        PS3='Select a log file: '
        options=("cfn-init.log (install file)" "cfn-init-cmd.log (install file details)" "web.stdout.log (print and errors from app)" "nginx/access.log (web access log)" "nginx/error.log (web error log)" "Quit")
        select opt in "${options[@]}"
        do
            case $opt in
                "cfn-init.log (install file)")
                    tail -100f /var/log/cfn-init.log
                    break
                    ;;
                "cfn-init-cmd.log (install file details)")
                    tail -100f /var/log/cfn-init-cmd.log
                    break
                  ;;
                "web.stdout.log (print and errors from app)")
                    tail -100f /var/log/web.stdout.log | grep -v "Invalid HTTP_HOST"
                    break
                    ;;
                "nginx/access.log (web access log)")
                    tail -1000f /var/log/nginx/access.log | grep -v health
                    break
                    ;;
                "nginx/error.log (web error log)")
                    tail -1000f /var/log/nginx/error.log
                    break
                    ;;
                "Quit")
                    break
                    ;;
                *) echo "invalid option $REPLY";;
            esac
        done
