{% extends 'signedout.html' %}

{% block content %}
<h1>Congratulations!</h1>
<h2>Hi {{ user.first_name }}, your account is active.</h2>
<h4>You can login using your email address, {{ GLOBAL_ORG }} number or username({{ user.username }}).</h4>
<h3> We will take you to complete your profile in <span id="time">10 seconds</span>.
<h3><a href="/profile">Click here to go now</a></h3>

<script src="/static/assets/js/core/jquery.min.js"></script>
<script>
  $('document').ready(function(){
    var time=10;
    setInterval(function() {
      document.getElementById("time").innerHTML = time + " seconds";
      time--;
      if (time == 0) {
        window.location.href = "/profile";
      }
    }, 1000);

  });
</script>

{% endblock %}
