<div class="card card-profile">
  <div class="card-avatar">
    <img class="img" src="/media/{{ member.pic }}" />
  </div>
  <div class="card-body">
    <h3>{{ member.full_name }}</h3>
    <h4>{{ global_org }} Number: {{ member.system_number }}</h4>
    {% for club in clubs %}
    <h4>{{ club.organisation }}</h4>
    {% endfor %}
    <p class="card-description">
      {{ profile.headline }}
    </p>
    <p class="card-description">
      {{ profile.about }}
    </p>
    <div class="row justify-content-center">
      <a href="#">
        <p onclick="location.reload(true);">Search again</p>
      </a>
    </div>
  </div>
