{% extends 'base.html' %}
{% load static %}
{% block content %}


 <div class="container-fluid">
   <h2>{{ form.errors }}</h2>
   <div class="row">
     <div class="col-md-8">
       <div class="card">
         <div class="card-header card-header-warning">
           <h4 class="card-title">Edit Profile for {{ user.full_name }} ({{ user.system_number }})</h4>
           <p class="card-category">Basic details</p>
           <p class="card-category">Location: {{ ip_details.city }}/{{ ip_details.region }}/{{ ip_details.country_name }}</p>
         </div>
         <div class="card-body">
           <form method="post" action="{% url "user_profile" %}">
             <input type="hidden" id="id_username" name="username" value="{{ form.username.value }}">
             {% csrf_token %}
             <div class="row">
               <div class="col-md-3">
                 <div class="form-group">
                   <label class="bmd-label-floating">{{ GLOBAL_ORG }} Number</label>
                   <input type="text" class="form-control" name="system_number" id="id_system_number" value="{{ form.system_number.value }}" readonly>
                 </div>
               </div>

               <div class="col-md-4">
                 <div class="form-group">
                   <label class="bmd-label-floating">Email address</label>
                   <input type="email" name="email" id="id_email" class="form-control" value="{{ form.email.value }}">
                 </div>
               </div>
               <div class="col-md-4">
                 <div class="form-group">
                   <label class="bmd-label-floating">Mobile Number</label>
                   <input type="text" name="mobile" id="id_mobile" class="form-control" value="{{ form.mobile.value|default_if_none:""}}">
                 </div>
               </div>
             </div>
             <div class="row">
               <div class="col-md-6">
                 <div class="form-group">
                   <label class="bmd-label-floating">First Name</label>
                   <input type="text"  name="first_name" id="id_first_name" class="form-control" value="{{ form.first_name.value }}">
                 </div>
               </div>
               <div class="col-md-6">
                 <div class="form-group">
                   <label class="bmd-label-floating">Last Name</label>
                   <input type="text" name="last_name" id="id_last_name" class="form-control" value="{{ form.last_name.value }}">
                 </div>
               </div>
              </div>
              <div class="row">
               <div class="col-md-6">
                 <div class="form-group">
                   <label class="bmd-label-static" style="font-size:11px">Date of Birth</label>
                   <input type="text" name="dob" id="id_dob" class="form-control datepicker" value="{{ form.dob.value|default_if_none:'' }}">
                 </div>
               </div>
               <div class="col-md-6">
                 <div class="form-group">
                   <label class="bmd-label-floating">BBO Username</label>
                   <input type="text" name="bbo_name" id="id_bbo_name" class="form-control" value="{{ form.bbo_name.value|default_if_none:'' }}">
                 </div>
               </div>
             </div>

             <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
             <div class="clearfix"></div>
           </form>
         </div>
       </div>
     </div>
     <div class="col-md-4">
       <form method="post" action="update-blurb" enctype="multipart/form-data">
         {% csrf_token %}





       <div class="card card-profile">
         <div class="card-avatar">
              <img class="img" src="/media/{{ form.pic.value }}" />
          </div>
         <div class="card-body">


           <div class="fileinput fileinput-new text-center" data-provides="fileinput">
               <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
               <div>
               <span class="btn btn-raised btn-round btn-rose btn-file">
                   <span class="fileinput-new">Change Photo</span>
            <span class="fileinput-exists">Change</span>
            <input type="file" name="pic" accept="image/*" id="id_pic"/></span>
                   <br />
                   <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
               </div>
           </div>



           <p class="card-description">
             <label class="bmd-label-floating">Short Description of You</label>
             <textarea rows=3 name="headline" id="id_headline" class="form-control">{{ blurbform.headline.value }}</textarea>
           </p>
           <p class="card-description">
             <label class="bmd-label-floating">About You</label>
             <textarea rows=8 name="about" id="id_about" class="form-control">{{ blurbform.about.value }}</textarea>
           </p>
           <button type="submit" class="btn btn-primary">Update</button>
         </form>
         </div>
       </div>
     </div>
   </div>


   <div class="form-group">
     <button onclick="location.href='/accounts/change-password';" class="btn-success btn">Change Password</button>
   </div>
</div>

{% endblock %}
{% block footer %}
<script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>
<script>
  $(document).ready(function() {
    // initialise Datetimepicker and Sliders
    md.initFormExtendedDatetimepickers();
    if ($('.slider').length != 0) {
       md.initSliders();
    }

        //
        // function readURL(input) {
        //   if (input.files && input.files[0]) {
        //     var reader = new FileReader();
        //
        //     reader.onload = function(e) {
        //       $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
        //     }
        //     reader.readAsDataURL(input.files[0]);
        //   }
        // }


  // $('#fixme').removeClass('is-empty');

  //  $('.datepicker').pickadate();

// fix datepicker label
        // $('.datepicker').on('changeDate', function(e){
        //     alert("Changed");
        //     $(this).parent('.label-floating').removeClass('is-empty');
        // });

        // $(document).on('change', '#sid_dob', function() {
        //   alert("Me");
        // });

  });
</script>


{% endblock %}
