{% extends 'base.html' %}
{% load static %}
{% block content %}

{% block header %}
<link href="{% static "assets/demo/demo.css" %}" rel="stylesheet" />
<script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>

{% endblock %}

<div class="container-fluid">
  <h2>{{ form.errors }}</h2>
  <h2>{{ topupform.errors }}</h2>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-warning">
          <h4 class="card-title">Edit Profile for {{ user.full_name }} ({{ user.system_number }})</h4>
          <p class="card-category">Basic details</p>
        </div>
        <div class="card-body">
          <form method="post" action="{% url "accounts:user_profile" %}">
            {% csrf_token %}
            <input type="hidden" id="id_username" name="username" value="{{ form.username.value }}">
            <input type="hidden" name="system_number" id="id_system_number" value="{{ form.system_number.value }}">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Email address</label>
                  <input type="email" name="email" id="id_email" class="form-control" value="{{ form.email.value }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Mobile Number</label>
                  <input type="text" name="mobile" id="id_mobile" class="form-control" value="{{ form.mobile.value|default_if_none:""}}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">First Name</label>
                  <input type="text" name="first_name" id="id_first_name" class="form-control" value="{{ form.first_name.value }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Last Name</label>
                  <input type="text" name="last_name" id="id_last_name" class="form-control" value="{{ form.last_name.value }}">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-static" style="font-size:11px">Date of Birth</label>
                  <input type="text" name="dob" id="id_dob" class="form-control datepicker" value="{{ form.dob.value|default_if_none:'' }}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">BBO Username</label>
                  <input type="text" name="bbo_name" id="id_bbo_name" class="form-control" value="{{ form.bbo_name.value|default_if_none:'' }}">
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <form method="post" action="update-blurb" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card card-profile">
          <div class="card-avatar">
            <img id="cobalt-pic" class="img" src="/media/{{ form.pic.value }}" />
          </div>
          <div class="card-body">
            <div class="fileinput fileinput-new text-center" data-provides="fileinput">
              <div class="fileinput-preview fileinput-exists thumbnail img-circle img-raised"></div>
              <div>
                <span class="btn btn-raised btn-round btn-rose btn-file">
                  <span class="fileinput-new">Change Photo</span>
                  <span class="fileinput-exists">Change</span>
                  <input onchange="readURL(this);" type="file" name="pic" accept="image/*" id="id_pic" /></span>
                <br />
                <a href="javascript:;" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
              </div>
            </div>
            <p class="card-description">
              <label class="bmd-label-floating">About You</label>
              <textarea rows=8 name="about" id="id_about" class="form-control">{{ blurbform.about.value }}</textarea>
            </p>
            <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
</div>
<div class="form-group">
  <button onclick="location.href='/accounts/change-password';" class="btn-success btn">Change Password</button>
</div>
</div>
{% endblock %}
{% block footer %}
<script src="{% static "assets/js/plugins/moment.min.js" %}"></script>
<script src="{% static "assets/js/plugins/bootstrap-datetimepicker.min.js" %}"></script>
<script>
  // show preview of profile picture
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();

      reader.onload = function(e) {
        $('#cobalt-pic')
          .attr('src', e.target.result);
        swal.fire({
          title: "Picture Loaded",
          html: "If you like the picture don't forget to hit update to save it.",
          icon: "success",
          buttonsStyling: false
        })
      };
      reader.readAsDataURL(input.files[0]);
    }
  }

  $(document).ready(function() {
    // initialise Datetimepicker and Sliders
    md.initFormExtendedDatetimepickers();

    $('#id_dob').datetimepicker({
      format: 'DD/MM/YYYY'
    });

  });
</script>


{% endblock %}
