{% extends 'signedout.html' %}

{% block content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<style>

.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
</style>

<div class="container">

        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title center-text"> {{ GLOBAL_ORG }} Technology</h3>
              <h1>{{ posts.msg }}
              <h3><small>Signup, it's free for members!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" method="post">
                {% csrf_token %}
								{% if user_form.non_field_errors %}
												{% for error in user_form.non_field_errors %}
														{{ error }}
												{% endfor %}
								{% endif %}
                <div class="form-group">
                  <span id="system_number_error"></span>
			    				<input type="text" name="abf_number" id="id_abf_number" class="form-control input-sm" placeholder="ABF Number">
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                      {{ user_form.first_name.errors }}
			                <input type="text" name="first_name" id="id_first_name" class="form-control input-sm" placeholder="First Name">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                    {{ user_form.last_name.errors }}
			    						<input type="text" name="last_name" id="id_last_name" class="form-control input-sm" placeholder="Last Name">
			    					</div>
			    				</div>
			    			</div>

			    			<div class="form-group">
                  {{ user_form.email.errors }}
			    				<input type="email" name="email" id="id_email" class="form-control input-sm" placeholder="Email Address">
			    			</div>

                <div class="form-group">
                  {{ user_form.username.errors }}
			    				<input type="text" name="username" id="id_username" class="form-control input-sm" placeholder="Choose a Username">
			    			</div>

	    					<div class="form-group">
                  {{ user_form.password1.errors }}
	    						<input type="password" name="password1" id="id_password1" class="form-control input-sm" placeholder="Password">
	    					</div>


	    					<div class="form-group">
                  {{ user_form.password2.errors }}
	    						<input type="password" name="password2" id="id_password2" class="form-control input-sm" placeholder="Confirm Password">
	    					</div>



			    			<input type="submit" value="Register" class="btn btn-block">

			    		</form>
							<span class="center-block">
								<a href="/dashboard">Already registered? Sign In.</a>
							</span>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>



<script src="/static/assets/js/core/jquery.min.js"></script>
<script>
jQuery(document).ready(function() {

function getPlayerName() {

    var abf = document.getElementById('id_abf_number')
    var fname = document.getElementById('id_first_name')
    var lname = document.getElementById('id_last_name')
    var err = document.getElementById('system_number_error')

    err.innerHTML="";


    var trimmed_abf = abf.value.replace(/^\s+|\s+$/g, '');

    if (trimmed_abf == '') {
        return;
    }

    var strURL = "/masterpoints/abf_lookup?abf_number=" + trimmed_abf;

    jQuery.ajax({
        url: strURL,
        context: document.body,
        success: function(txt){


            var res=txt.split(" ");
            if (res.length==2) {
                fname.value = res[0];
                lname.value = res[1];
            }
            var n = txt.search("Invalid");
            if (n>=0) {
               abf.focus();
              // abf.value="";
               err.innerHTML=txt;
            }
        }
    });
}

jQuery('#id_abf_number').on('change', function(e) {
   getPlayerName();
})

});
</script>

{% endblock %}
