{% extends 'base.html' %}
{% block header %}
<script src="/static/assets/js/core/jquery.min.js"></script>
<link rel="stylesheet" href="/static/assets/css/normalize.css" />
<link rel="stylesheet" href="/static/assets/css/stripe-global.css" />
<script src="https://js.stripe.com/v3/"></script>
<script src="/static/assets/js/stripe-script.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
{% endblock %}

{% block content %}



<div align="center">
  <div class="sr-main">
    <h3 align="center">Card Details</h3>
    <form id="payment-form" class="sr-payment-form">
      <input type="hidden" id="transID" name="transID" value="{{ trans.id }}">
      <input type="hidden" id="transAmount" name="transAmount" value="{{ trans.amount }}">
      <input type="hidden" id="transDescription" name="transDescription" value="{{ trans.description }}">
      <div class="sr-combo-inputs-row">
        <div class="sr-input sr-card-element" id="card-element"></div>
      </div>
      <div class="sr-field-error" id="card-errors" role="alert"></div>
      <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Set Up</span><span id="order-amount"></span>
      </button>
    </form>
    <div class="sr-result hidden">
      <p>Payment completed<br /></p>
      <pre>
        <code></code>
      </pre>
    </div>
  </div>
</div>


{% endblock %}
