
{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div  class="container">
  <div class="row justify-content-center">
    <div class="card col-11 col-md-6">
      <div class="card-header card-header-primary">
        <h3 class="card-title">ABF Dollar Transfer</h3>
        <h5>Transfer funds online to another member</h5>
      </div>
      <h3>{{ msg }}</h3>
      <div class="card-body">
        <div class="container">
          <div class="row justify-content-center">
            <div class="card col-11 col-md-9">
              <div class="card-header card-header-warning">
                <h4>Member Lookup</h4>
              </div>
              <div class="card-body">
    
                <div class="form-group">
                  <label for="lastname" class="bmd-label-floating">Last Name</label>
                  <input type="text" class="form-control dynamic-search" id="id_lastname" name="lastname" value="">
                </div>

                <div class="form-group">
                  <label for="" class="bmd-label-floating">First Name</label>
                  <input type="text" class="form-control dynamic-search" id="id_firstname" name="firstname" value="">
                </div>

              </div>
            </div>
          </div>
          <form action="member-transfer" method="post">
          {% csrf_token %}

            <div class="row">
              {{ form.transfer_to.errors }}
                <span id="search-results"></span>
            </div>

            <div class="row">
              {{ form.amount.errors }}
              <div class="form-group">
                <label for="id_amount" class="bmd-label-floating">Amount $</label>
                {% render_field form.amount class+="form-control" %}
              </div>
            </div>
            <div class="row">
              <div class="w-100"></div>
              <div class="form-group">
                <label for="id_description" class="bmd-label-floating">Description (optional)</label>
                {% render_field form.description class+="form-control" %}
              </div>
            </div>
            <div class="row justify-content-center">
             <input type="submit" value="Transfer" class="btn btn-block col-11 col-md-5">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
<script>

// Dynamic search when input fields change

  jQuery(document).ready(function() {
    const lastname = $("#id_lastname")
    const firstname = $("#id_firstname")
    const search_results = $('#search-results')
    const endpoint = '/accounts/search'

    $(".dynamic-search").on('keyup', function(event){
      event.stopPropagation();
      event.stopImmediatePropagation();
      var ln = lastname.val();
      var fn = firstname.val();
      search_results.html("");
      if (ln.length + fn.length > 3) {
        $.getJSON(endpoint + "?lastname=" + ln + "&firstname=" + fn)
            .done(response => {
                search_results.html(response['data'])
            })
      }
    });
  });

</script>

{% endblock %}
