
{% extends 'base.html' %}
{% load static %}

{% block headerjs %}
<style>
  .bg {
height: 100%;
background-image: url("{% static "assets/img/backgrounds/success4.jpg" %}");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

</style>

{% endblock %}
{% block content %}

<div class="bg" id="bg">
  <div class="wrapper">
     <div class="container">
       <div class="row">
         <div class="card">
           <div class="card-body">
             <h1>Transfer Successful!</h1>
             <h3>Hi {{ user.first_name }}, your transferred {{ msg }}.</h3>
             <h4>The transfer has completed and the funds are now available.</h4>
             <h3><a href="statement">Click here to see your statement</a></h3>
           </div>
        </div>
      </div>
   </div>
  </div>
</div>
{% endblock %}
