{% extends 'base.html' %}

{% block headerjs %}

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="/static/assets/css/material-dashboard.css?v=2.1.1" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="/static/assets/demo/demo.css" rel="stylesheet" />

{% endblock %}

{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="col-md-8 col-12 mr-auto ml-auto">
            <!--      Wizard container        -->
            <div class="wizard-container">
              <div class="card card-wizard" data-color="green" id="wizardProfile">
                <form action="" method="">
                  <!--        You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->
                  <div class="card-header text-center">
                    <h3 class="card-title">
                      Start a Session
                    </h3>
                    <h5 class="card-description">Basic Duplicate Game</h5>
                  </div>
                  <div class="wizard-navigation">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a class="nav-link active" href="#about" data-toggle="tab" role="tab">
                          Event and Tables
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#account" data-toggle="tab" role="tab">
                          Movements
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#address" data-toggle="tab" role="tab">
                          Settings
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="card-body">
                    <div class="tab-content">
                      <div class="tab-pane active" id="about">
                        <h5 class="info-text"> Basic Information</h5>
                        <div class="form-group">
                          <label for="exampleInput1" class="bmd-label-floating">Event Name</label>
                          <input type="text" class="form-control" id="exampleInput1" name="firstname" value="SABA Saturday Afternoon" required>
                        </div>

                        <div class="form-group">
                          <label for="exampleInput1" class="bmd-label-floating">Event Date</label>
                          <input type="text" class="form-control datepicker" value="10/10/2019">
                        </div>

                        <div class="form-group">
                          <label for="exampleInput1" class="bmd-label-floating">Number of Tables</label>
                          <input type="number" class="form-control" id="exampleInput1" name="firstname" required>
                        </div>


                      </div>
                      <div class="tab-pane" id="account">
                        <h5 class="info-text display-4"> Recommended 9 Table Movements </h5>

                        <table class="table table-responsive">
                             <thead>
                                 <tr>
                                     <th></th>
                                     <th>Movement Type</th>
                                     <th>Rating</th>
                                     <th>Summary</th>
                                     <th>Recommended For</th>
                                     <th>Documents</th>
                                 </tr>
                             </thead>
                             <tbody>
                             <form>
                                 <tr>
                                     <td>
                                         <div class="radio">
                                             <label><input type="radio" id='regular' name="optradio"></label>
                                         </div>
                                     </td>
                                     <td>
                                     <div class="radiotext">
                                        <strong><b>Mitchell
                                        </b></strong>
                                     </div>
                                     </td>
                                     <td class="text-info"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i>
                                     <td><a href="#" id="hov1">2 Fields - 9x3 - 1x27 boards</a></td>
                                     <td>Standard Games</td>
                                     <td><a href="#">Movement Cards</a>,&nbsp;<a href="#">Diagram</a></td>
                                 </tr>
                                 <tr>
                                     <td>
                                         <div class="align-self-center">
                                             <label><input type="radio" class="align-self-center" id='express' name="optradio"></label>
                                        </div>
                                     </td>
                                     <td>
                                         <div class="radiotext">
                                           <strong><b>
                                             Arrow Switch Mitchell
                                          </b></strong>
                                         </div>
                                     </td>
                                     <td class="text-info"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                                     <td><a href="#" id="hov2">1 Field - 9x3 - 1x27 boards</a></td>

                                     <td>Single Field Winner</td>
                                     <td><a href="#">Movement Cards</a>,&nbsp;<a href="#">Diagram</a></td>

                                 </tr>
                                 <tr>
                                     <td>
                                         <div class="radio">
                                             <label><input type="radio" id='express' name="optradio"></label>
                                        </div>
                                     </td>
                                     <td>
                                         <div class="radiotext">
                                           <strong><b>Fenugreek Howell
                                           </b></strong>
                                         </div>
                                     </td>
                                     <td class="text-info"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                                     <td><a href="#" id="hov3">1 Field - 9x3 - 2x32 boards</a></td>

                                     <td>Two stationary tables</td>
                                     <td><a href="#">Movement Cards</a>,&nbsp;<a href="#">Diagram</a></td>

                                 </tr>
                                 <tr>
                                     <td>
                                         <div class="radio">
                                             <label><input type="radio" id='express' name="optradio"></label>
                                        </div>
                                     </td>
                                     <td>
                                         <div class="radiotext">
                                             <strong><b>2 Stanza Mitchell</b></strong>
                                         </div>
                                     </td>
                                     <td class="text-info"><i class="material-icons">star</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i><i class="material-icons">star_border</i>
                                     <td><a href="#" id="hov4">1 Field - 9x3 - 2x27 boards</a></td>

                                     <td>Sessions with break in middle</td>
                                     <td><a href="#">Movement Cards</a>,&nbsp;<a href="#">Diagram</a></td>

                                 </tr>
                                 </form>
                                 </tbody>
                        </table>

                        <a href="#">Others...</a>

                      </div>
                      <div class="tab-pane" id="address">
                        <div class="row justify-content-center">
                          <div class="col-12">
                            <h5 class="info-text"> SABA Saturday Afternoon<br> 9 Table - 9 Board Mitchell </h5>
                          </div>

                          <div class="row col-12">

                            <div class="checkbox-radios">
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="exampleRadios" value="option2" id="bm" checked> Bridgemates
                                  <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="radio" name="exampleRadios" value="option1" id="manual"> Manual Scoring
                                  <span class="circle">
                                    <span class="check"></span>
                                  </span>
                                </label>
                              </div>
                            </div>
                            <input type="button" class="btn btn-previous btn-fill btn-default btn-sm disabled" name="previous" id="imabutton" value="Bridgemate Settings" onclick='swal({ title:"Not Yet", text: "This is not set up yet.", type: "success", buttonsStyling: false, confirmButtonClass: "btn btn-success"})'>

                          </div>

                      <div class="row col-12">
                            <div class="form-group select-wizard">

                              <select class="selectpicker" data-size="7" data-style="select-with-transition" title="Deal Source">
                                <option value="Afghanistan"> SABA Saturday - 10th October 2019 </option>
                                <option value="Albania"> SABA Backup Set 5 (1-32)</option>
                                <option value="Algeria"> Generate </option>
                                <option value="Algeria"> Skip </option>
                                <option value="American Samoa"> Upload... </option>
                              </select>

                          </div>
                        </div>

                        <div class="row col-12">
                          <div class="form-check">
                           <label class="form-check-label">
                             <input class="form-check-input" type="checkbox" value="" id="half"> Half Table
                             <span class="form-check-sign">
                               <span class="check"></span>
                             </span>
                           </label>
                         </div>


                         <div class="col-sm-7">
                           <div class="form-group select-wizard" id="halftable">

                             <select class="selectpicker" data-size="7" data-style="select-with-transition" title="Missing Pair" >
                               <option value="1"> 1 NS </option>
                               <option value="1"> 2 NS </option>
                               <option value="1"> 3 NS </option>
                               <option value="1"> 4 NS </option>
                               <option value="1"> 5 NS </option>
                               <option value="1"> 6 NS </option>
                               <option value="1"> 7 NS </option>
                               <option value="1"> 8 NS </option>
                               <option value="1"> 9 NS </option>
                               <option value="1"> 1 EW </option>
                               <option value="1"> 2 EW </option>
                               <option value="1"> 3 EW </option>
                               <option value="1"> 4 EW </option>
                               <option value="1"> 5 EW </option>
                               <option value="1"> 6 EW </option>
                               <option value="1"> 7 EW </option>
                               <option value="1"> 8 EW </option>
                               <option value="1"> 9 EW </option>
                             </select>
                           </div>
                         </div>

                        </div>



                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="mr-auto">
                      <input type="button" class="btn btn-previous btn-fill btn-default btn-wd disabled" name="previous" value="Previous">
                    </div>
                    <div class="ml-auto">
                      <input type="button" class="btn btn-next btn-fill btn-rose btn-wd" name="next" value="Next">
                      <input type="button" class="btn btn-finish btn-fill btn-rose btn-wd" name="finish" value="Start Session" style="display: none;" onclick="location.href='./mp-score2.html';" >
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </form>
              </div>
            </div>
            <!-- wizard container -->
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="./dashboard.html">
                  Contact Us
                </a>
              </li>
              <li>
                <a href="./dashboard.html">
                  About Us
                </a>
              </li>
              <li>
                <a href="./dashboard.html">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            ABF &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/static/assets/js/core/jquery.min.js"></script>
  <script src="/static/assets/js/core/popper.min.js"></script>
  <script src="/static/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="/static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="/static/assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="/static/assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="/static/assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="/static/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="/static/assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="/static/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="/static/assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="/static/assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="/static/assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="/static/assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="/static/assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="/static/assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="/static/assets/js/plugins/arrive.min.js"></script>
  <!-- Chartist JS -->
  <script src="/static/assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/static/assets/js/material-dashboard.js?v=2.1.0" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="/static/assets/demo/demo.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {


    if (typeof $.cookie('mp-score') === 'undefined'){
      $.cookie('mp-score', 'set', { expires:10000, domain: '', path: '' });

      swal({
        title: 'Info',
        html: "Here a scorer can set up an event. Start with the event name and number of tables, then select from a list of possible movements. Finally enter the settings and start the event.",
        type: 'info',
        confirmButtonText: 'Ok'
      })
    }

    $("#hov1").click(function(){
      swal({
        title: 'Mitchell',
        html: "This is a 9 table, 3 board round movement with a separate NS and EW field. NS are stationary and EW move to the next lower numbered table at the end of each round. <br><br>This movement requires one set of 27 boards.<br><br>There are two fields with winners NS and EW.",
        confirmButtonText: 'Ok'
      })
    });

    $("#hov2").click(function(){
      swal({
        title: 'Arrow Switch Mitchell',
        html: "This is a 9 table, 3 board round movement with a separate NS and EW field. NS are stationary and EW move to the next lower numbered table at the end of each round. <br><br>This movement requires one set of 27 boards.<br><br>There is a single winner across the field.",
        confirmButtonText: 'Ok'
      })
    });

    $("#hov3").click(function(){
      swal({
        title: 'Fenugreek Howell',
        html: "I made this one up, who knows what it is.",
        confirmButtonText: 'Ok'
      })
    });

    $("#hov4").click(function(){
      swal({
        title: 'Two Stanza Mitchell',
        html: "This is a 9 table, 3 board round movement with a separate NS and EW field. This is designed for split sessions with a break for lunch etc in the middle.<br><br>This movement uses 2 sets of 14 different boards, one before the break and one after.<br><br>There are two fields with winners NS and EW and it is safe for people to discuss the hands during the break.",
        confirmButtonText: 'Ok'
      })
    });


      // Initialise the wizard
            $("#halftable").hide();
      demo.initMaterialWizard();
      md.initFormExtendedDatetimepickers();

      var manual = document.getElementById('manual');
      var bm = document.getElementById('bm');
      var half = document.getElementById('half');

      manual.onclick = manual_handler;
      bm.onclick = bm_handler;
      half.onclick = half_handler;

      setTimeout(function() {
        $('.card.card-wizard').addClass('active');
      }, 600);
    }

    );

  function manual_handler() {
      var x = document.getElementById('imabutton');
      x.value="Enter Names (optional)";
  };

  function bm_handler() {
    var x = document.getElementById('imabutton');
    x.value="Bridgemate Settings";
  };

  function half_handler() {
    var half = document.getElementById('half');
    if (half.checked == true) {
      $("#halftable").show();
    } else {
      $("#halftable").hide();
    }
  };



  </script>


{% endblock %}
