{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block header %}
<link href="{% static "assets/css/bootstrap4-toggle.min.css" %}" rel="stylesheet">
<script src="{% static "assets/js/bootstrap4-toggle.min.js" %}"></script>
{% endblock %}

{% block content %}

<div class="">
  <div class="card">
    <div class="card-header card-header-warning">
      <h1>Statement - {{ user.full_name}}</h1>
      <h3>{% if summary.IsActive %}{{club}}{% else %}Inactive - Used to play at {{club}}{% endif %}</h3>
      <h2>Balance: {{ GLOBAL_CURRENCY_SYMBOL }}{{ balance|intcomma }}</h2>

          <div class="float-left">

              <b>Auto Top Up</b>
              <input id="auto-button" type="checkbox" data-toggle="toggle" data-onstyle="success" data-size="sm"
              {% if auto_button %} checked {% endif %}
               >
              <div id="console-event"></div>

          </div>

    </div>
    <div class="card-body table-responsive">
      <div class="container">
        <div class="row">
          <div class="col-sm text-left">
            <a href="{% url 'payments:member_transfer' %}"<button class="text-center btn btn-dark btn-round" style="width: 180px">
              <i class="material-icons">people_alt</i>&nbsp;Pay A Friend
            </button>
            </a>
            <a href="{% url 'payments:manual_topup' %}"<button class="text-center btn btn-success btn-round" style="width: 180px">
              <i class="material-icons">attach_money</i>&nbsp;Top Up Balance
            </button>
            </a>

          </div>
          <div class="col-sm text-right">
            <a href="{% url 'payments:statement_csv' %}"<button class="text-center btn btn-primary btn-round" style="width: 180px">
              <i class="material-icons">arrow_downward</i>&nbsp;Download as CSV
            </button>
            </a>
            <a href="{% url 'payments:statement_pdf' %}"<button class="text-center btn btn-info btn-round" style="width: 180px">
              <i class="material-icons">picture_as_pdf</i>&nbsp;Download as PDF
            </button>
            </a>
          </div>
        </div>
      </div>

      <hr>

      <table class="table table-hover">
        <thead class="text-info">
          <tr>
            <th>Date</th>
            <th>Reference</th>
            <th>Counterparty</th>
            <th>Type</th>
            <th>Description</th>
            <th class="text-right">In({{ GLOBAL_CURRENCY_SYMBOL }})</th>
            <th class="text-right">Out({{ GLOBAL_CURRENCY_SYMBOL }})</th>
            <th class="text-right">Balance({{ GLOBAL_CURRENCY_SYMBOL }})</th>
          </tr>
        </thead>
        <tbody>
          {% for event in events %}
            <tr>
              <td>{{ event.created_date|date:"d M Y" }}</td>
              <td>{{ event.reference_no }}</td>
              <td>{{ event.other_member|default_if_none:"" }}{{ event.organisation|default_if_none:"" }}</td>
              <td>{{ event.type }}</td>
              <td>{{ event.description }}</td>
              {% if event.amount >= 0 %}
                <td class="text-right">{{ event.amount|floatformat:2|intcomma }}</td>
                <td></td>
              {% else %}
                <td></td>
                <td class="text-right">{{ event.amount|floatformat:2|intcomma|slice:"1:" }}</td>
              {% endif %}
              <td class="text-right">{{ event.balance|floatformat:2|intcomma }}</td>

            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% if events.has_other_pages %}
      <ul class="pagination">
        {% if events.has_previous %}
          <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;&nbsp;</span></li>
        {% endif %}
        {% for i in events.paginator.page_range %}
          {% if events.number == i %}
            <li class="active"><span>{{ i }}&nbsp; <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}&nbsp;</a></li>
          {% endif %}
        {% endfor %}
        {% if events.has_next %}
          <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}

<script>
$( document ).ready(function() {
  if(window.performance.navigation.type === 2) {
     // the page was navigated to via the forward or back button
     // refresh
     location.reload();
  }
});

  $(function() {
    $('#auto-button').change(function() {
      if ($(this).prop('checked')) {
    //    $('#auto-button').bootstrapToggle('off')
        window.location.href = "{% url "payments:setup_autotopup" %}";
      } else {
  //      $('#auto-button').bootstrapToggle('on')
        window.location.href = "{% url "payments:cancel_autotopup" %}";
      }
      $('#console-event').html('Toggle: ' + $(this).prop('checked'))
    })
  })
</script>

{% endblock %}
