{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="container-fluid">
         <div class="row">
           <div class="card">
             <div class="card-header card-header-primary">
               <h4 class="card-title">
                 <h1>{{ summary.given_name }} {{ summary.surname }}
                 </h1>
                 <h2>{{ summary.abf_number }} - {{ summary.rank }}</h2>
                 <h3><i>{% if summary.active %}Home club is {{club.club_name}}{% else %}}Used to play at {{club.club_name}}{% endif %}</i></h3>

            <!-- <img class="img" src="/media/{{ request.user.pic }}" /> -->

             </div>
             <div class="container w-100">
               <div class="row d-flex flex-wrap">

                 <div class="col-sm-3" >
                   <div class="card">
                     <div class="card-header card-header-info">
                       <h4 class="card-title">
                         Summary
                     </div>

                     <div class="card-body table-responsive">
                       <table class="table table-hover">
                         <tbody>
                           <tr>
                             <td style="color: orange;  font-weight: bold;">Gold<td style="text-align: right">{{ summary.total_gold|floatformat:2|intcomma }}
                           </tr>
                           <tr>
                             <td style="color: red; font-weight: bold;">Red<td style="text-align: right">{{ summary.total_red|floatformat:2|intcomma }}
                           </tr>
                           <tr>
                             <td style="color: green; font-weight: bold;">Green<td style="text-align: right">{{ summary.total_green|floatformat:2|intcomma }}
                           </tr>
                           <tr>
                             <td style="color: black; font-weight: bold;">Total<td style="text-align: right; font-weight: bold;">{{ summary.total_MPs|floatformat:2|intcomma }}
                           </tr>
                         </tbody>
                       </table>
                     </div>
                   </div>
                 </div>

                 <div class="col-sm-6">
                   <div class="card">
                     <div class="card-header card-header-icon card-header-warning">
                       <div class="card-icon">
                         <i class="material-icons">timeline</i>
                       </div>
                       <h4 class="card-title">Last 12 Months
                       </h4>
                     </div>
                     <div class="card-body">
                       <div id="mpChart" class="ct-chart"></div>
                     </div>
                   </div>
                 </div>

                 <div class="col-sm-3">
                   <div class="card">
                     <div class="card-header card-header-success">
                       <h4 class="card-title">
                         Lookup Masterpoints
                     </div>

                     <div class="card-body table-responsive">

                       <form method="POST" action="../../masterpoints_search">
                         {% csrf_token %}
                         <div class="row">
                           <div class="col-md-12">
                             <div class="form-group">
                               <label class="bmd-label-floating">ABF Number</label>
                               <input name="system_number" id="id_system_number" type="text" class="form-control" value="">
                             </div>
                           </div>
                           <div class="col-md-12">
                             <div class="form-group">
                               <label class="bmd-label-floating">Last Name</label>
                               <input name="last_name" id="id_last_name" type="text" class="form-control" value="">
                             </div>
                           </div>
                           <div class="col-md-12">
                             <div class="form-group">
                               <label class="bmd-label-floating">First Name</label>
                               <input name="first_name" id="id_first_name" type="text" class="form-control" value="">
                             </div>
                           </div>
                         </div>
                         <button type="submit" class="btn btn-primary">Search</button>
                         <div class="clearfix"></div>
                       </form>

                   </div>
                   </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>


   <div>
     <div class="card">
       <div class="card-header card-header-warning">
         <h4 class="card-title">
           Recent Activity
       </div>
       <div class="card-body table-responsive">
         <table class="table table-hover">
           <thead class="text-info">
             <th>Month</th>
             <th>Details</th>
             <th class="text-right">Gold</th>
             <th class="text-right">Red</th>
             <th class="text-right">Green</th>
             <th class="text-right">Total</th>
           </thead>
           <tbody>
             <tr>

               <td>
               <td><b>Closing Total<b>
               <td class="text-right" style="color: orange;">{{ summary.total_gold|floatformat:2|intcomma }}
               <td class="text-right" style="color: red;">{{ summary.total_red|floatformat:2|intcomma }}
               <td class="text-right" style="color: green;">{{ summary.total_green|floatformat:2|intcomma }}
               <td class="text-right"><b>{{ summary.total_MPs|floatformat:2|intcomma }}</b>
             </tr>

               {% for row in details %}

               <tr>
                 <td>{{ row.posting_date_display }}
                 <td>{{ row.event_description }}
                 <td class="text-right" style="color: orange;">
                   {% if row.mp_colour == "Y" %}
                     {{ row.mps }}
                   {% endif %}
                 <td class="text-right" style="color: red;">
                   {% if row.mp_colour == "R" %}
                     {{ row.mps }}
                   {% endif %}
                 <td class="text-right" style="color: green;">
                   {% if row.mp_colour == "G" %}
                     {{ row.mps }}
                   {% endif %}
                 <td class="text-right">{{ row.running_total|floatformat:2|intcomma }}
             </tr>
             {% endfor %}

            <tr>
              <td>
              <td><b>Opening Balance</b>
                <td class="text-right" style="color: orange;"><b>{{ bottom.gold|floatformat:2|intcomma }}</b>
                <td class="text-right" style="color: red;"><b>{{ bottom.red|floatformat:2|intcomma }}</b>
                <td class="text-right" style="color: green;"><b>{{ bottom.green|floatformat:2|intcomma }}</b>
                <td class="text-right"><b>{{ bottom.total|floatformat:2|intcomma }}</b>
            </tr>

           </tbody>
         </table>
       </div>
     </div>
   </div>

<script src="/static/assets/js/core/jquery.min.js"></script>
<script>
 $(document).ready(function() {

   chartData = {
     {% autoescape off %}

     labels: {{ chart.labels }},
    {% endautoescape %}
     series: [
       {{ chart.green }},
       {{ chart.red }},
       {{ chart.gold }}
     ]
   };

   chartOptions = {
     lineSmooth: Chartist.Interpolation.cardinal({
       tension: 10
     }),
     axisY: {
       showGrid: true,
       offset: 40
     },
     axisX: {
       showGrid: false,

     },
     showPoint: true,
     height: '300px'
   };


   var chart = new Chartist.Line('#mpChart', chartData, chartOptions);

   md.startAnimationForLineChart(chart);

       });
     </script>
{% endblock %}
