{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
         <div class="row">
           <div class="card">
             <div class="card-header card-header-primary">
               <h4 class="card-title">
                 <h1>{{ request.user.first_name }} {{ request.user.last_name }} - {{ summary.rank }}</h1>
                 <h3>ABF Number: {{ request.user.abf_number }}</h3>
             </div>
             <div class="container w-100">
               <div class="row d-flex flex-wrap">

                 <div class="col-sm-3" >
                   <div class="card">
                     <div class="card-header card-header-info">
                       <h4 class="card-title">
                         Summary
                     </div>

                     <div class="card-body table-responsive">
                       <table class="table table-hover">
                         <tbody>
                           <tr>
                             <td style="color: orange;  font-weight: bold;">Gold<td style="text-align: right">{{ summary.total_gold }}
                           </tr>
                           <tr>
                             <td style="color: red; font-weight: bold;">Red<td style="text-align: right">{{ summary.total_red }}
                           </tr>
                           <tr>
                             <td style="color: green; font-weight: bold;">Green<td style="text-align: right">{{ summary.total_green }}
                           </tr>
                           <tr>
                             <td style="color: black; font-weight: bold;">Total<td style="text-align: right; font-weight: bold;">{{ summary.total_MPs }}
                           </tr>
                         </tbody>
                       </table>
                     </div>
                   </div>
                 </div>

                 <div class="col-sm-6">
                   <div class="card">
                     <div class="card-header card-header-icon card-header-warning">
                       <div class="card-icon">
                         <i class="material-icons">timeline</i>
                       </div>
                       <h4 class="card-title">Last 12 Months
                       </h4>
                     </div>
                     <div class="card-body">
                       <div id="mpChart" class="ct-chart"></div>
                     </div>
                   </div>
                 </div>

                 <div class="col-sm-3">
                   <div class="card">
                     <div class="card-header card-header-success">
                       <h4 class="card-title">
                         Lookup Masterpoints
                     </div>

                     <div class="card-body table-responsive">

                       <form>
                         <div class="row">
                           <div class="col-md-12">
                             <div class="form-group">
                               <label class="bmd-label-floating">ABF Number</label>
                               <input type="text" class="form-control" value="">
                             </div>
                           </div>
                           <div class="col-md-12">
                             <div class="form-group">
                               <label class="bmd-label-floating">Last Name</label>
                               <input type="text" class="form-control" value="">
                             </div>
                           </div>
                           <div class="col-md-12">
                             <div class="form-group">
                               <label class="bmd-label-floating">First Name</label>
                               <input type="text" class="form-control" value="">
                             </div>
                           </div>
                         </div>




                         <button type="submit" class="btn btn-primary">Search</button>
                         <div class="clearfix"></div>
                       </form>

                   </div>
                   </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>


   <div>
     <div class="card">
       <div class="card-header card-header-warning">
         <h4 class="card-title">
           Recent Activity
       </div>
       <div class="card-body table-responsive">
         <table class="table table-hover">
           <thead class="text-info">
             <th>Month</th>
             <th>Details</th>
             <th class="text-right">Gold</th>
             <th class="text-right">Red</th>
             <th class="text-right">Green</th>
             <th class="text-right">Total</th>
           </thead>
           <tbody>
             <tr>

               <td>
               <td><b>Closing Total<b>
               <td class="text-right" style="color: orange;">{{ summary.total_gold }}
               <td class="text-right" style="color: red;">{{ summary.total_red }}
               <td class="text-right" style="color: green;">{{ summary.total_green }}
               <td class="text-right"><b>{{ summary.total_MPs }}</b>
             </tr>

               {% for row in details %}

               <tr>
                 <td>{{ row.posting_date_display }}
                 <td>{{ row.event_description }}
                 <td class="text-right" style="color: orange;">
                   {% if row.mp_colour == "Y" %}
                     {{ row.mps }}
                   {% endif %}
                 <td class="text-right" style="color: red;">
                   {% if row.mp_colour == "R" %}
                     {{ row.mps }}
                   {% endif %}
                 <td class="text-right" style="color: green;">
                   {% if row.mp_colour == "G" %}
                     {{ row.mps }}
                   {% endif %}
                 <td class="text-right">{{ row.running_total }}
             </tr>
             {% endfor %}

            <tr>
              <td>
              <td><b>Opening Balance</b>
                <td class="text-right" style="color: orange;"><b>{{ bottom.gold }}</b>
                <td class="text-right" style="color: red;"><b>{{ bottom.red }}</b>
                <td class="text-right" style="color: green;"><b>{{ bottom.green }}</b>
                <td class="text-right"><b>{{ bottom.total }}</b>
            </tr>

           </tbody>
         </table>
       </div>
     </div>
   </div>

<script src="/static/assets/js/core/jquery.min.js"></script>
<script>
 $(document).ready(function() {

   chartData = {
     labels: ['2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019'],
     series: [
       [23, 26, 28, 32, 34, 46, 48, 54, 65, 68, 70],
       [210, 230, 230, 280, 310, 410, 480, 490, 513, 521, 536],
       [298, 311, 350, 387, 401, 420, 450, 630, 678, 712, 758]
     ]
   };

   chartOptions = {
     lineSmooth: Chartist.Interpolation.cardinal({
       tension: 10
     }),
     axisY: {
       showGrid: true,
       offset: 40
     },
     axisX: {
       showGrid: false,

     },
     showPoint: true,
     height: '300px'
   };


   var chart = new Chartist.Line('#mpChart', chartData, chartOptions);

   md.startAnimationForLineChart(chart);

       });
     </script>
{% endblock %}
