{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}

<div class="jumbotron">

  <h1>Role Based Access Controls</h1>

  <div class="card col-lg-9">
    <div class="card-header card-header-danger">
      <h3 class="card-title">Delete Admin Group - Are You Sure?</h3>
    </div>
    <div class="card-body" style="text-align: center">
      <div class="container">

          <form method="POST">
            {% csrf_token %}
            <h3>{{ group.name }}</h3>
            <h3>{{ group.description }}</h3>

            <div class="d-flex">
              <div>
                <input type="submit" value="Delete" class="btn btn-primary center-text">
              </div>
              <div class="ml-auto">
                <button class="btn btn-info center-text" onclick="history.back(); return false;">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
