{% extends 'base.html' %}
{% load static %}

{% block header %}
<script src="{% static "assets/js/core/jquery.cookie.min.js" %}"></script>
<script src="{% static "assets/js/plugins/sweetalert2.js" %}"></script>
{% endblock %}
{% block content %}

<h1>Administration</h1>

{% if not groups %}
<h2>Sorry, you don't appear to have any admin access at this time.</h2>
{% endif %}

{% for key, value in groups.items %}
<div>
  <div class="card col-lg-9">
    <div class="card-header card-header-primary">
      <h3 class="card-title">{{ key }} - Admin</h3>
    </div>
    <div class="card-body" style="text-align: center">

      <div class="container">
        <div class="row">

          <div class="col w-100">
            <h3>Groups</h3>
            <select class="w-100 cobalt-group-select" id="{{ key }}-cobaltgroups" size="10">
              {% for v in value %}
                <option value="{{ v.id }}">{{ v.description }}</option>
              {% endfor %}
            </select><br>
            <button class="btn btn-success btn-sm">Add</button>
            <button class="btn btn-primary btn-sm">Delete</button>
          </div>

          <div class="col">
            <h3>Users</h3>
            <select class="w-100" id="{{ key }}-cobaltusers" size="10">
            </select><br>


<!-- Generic Member Search -->
            <div class="modal fade" id="cobalt_general_member_search" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold"><i class="material-icons">how_to_reg</i>&nbsp;&nbsp;Member Lookup</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body mx-3">
                    <div class="container">
                      <div id="cobalt-search" class="row justify-content-center">
                        <div class="col-12 form-group">
                          <label for="lastname" class="bmd-label-floating">Last Name</label>
                          <input type="text" class="form-control dynamic-search" id="id_{{ key }}_lastname" name="lastname" value="">
                        </div>

                        <div class="col-12 form-group">
                          <label for="" class="bmd-label-floating">First Name</label>
                          <input type="text" class="form-control dynamic-search" id="id_{{ key }}_firstname" name="firstname" value="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="cobalt-member">
                  </div>
                  <div class="row justify-content-center"
                      <span id="search-results"></span>
                  </div>
                </div>
              </div>
            </div>
<!-- End Generic Member Search -->



            <a href="" class="btn btn-success btn-sm cobalt_generic_member" data-toggle="modal" id="cobalt_cobalt_add_{{ key }}" data-target="#cobalt_general_member_search">Add</a>
            <button class="btn btn-primary btn-sm">Delete</button>
          </div>






          <div class="col">
            <h3>Actions</h3>
            <select class="w-100" id="{{ key }}-cobaltactions" size="10">
            </select><br>
            <button class="btn btn-success btn-sm">Add</button>
            <button class="btn btn-primary btn-sm">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endfor %}





{% endblock %}

{% block footer %}
<script>
  // Code for user search dialog

      const search_results = $('#search-results')
      const search_panel = $('#cobalt-search')
      const member_display = $('#cobalt-member')
      const member_search = '{% url "accounts:member_search_ajax" %}'
      const member_detail = '{% url "accounts:member_details_ajax" %}'

      var member_id = 0;
      var group_id;

  jQuery(document).ready(function() {

// When a user selects a group, get the Users and Role actions
    $('.cobalt-group-select').on('change', function() {
      var userlist = event.target.id.replace("cobaltgroups", "cobaltusers");
      var actionlist = event.target.id.replace("cobaltgroups", "cobaltactions");
      group_id = this.value;

      $.getJSON("group-to-user/" + group_id + "/")
        .done(response => {
        // using .html() causes delays (up to 30 seconds!) for Chrome. Changed to replaceWith()
        var new_select =  "<select  class='w-100' id='" + userlist + "' size='10'>" + response['data'] + "</select>"
        $("#" + userlist).replaceWith(new_select);
        console.log(response['data']);
      });

      $.getJSON("group-to-action/" + group_id + "/")
        .done(response => {
        var new_select =  "<select  class='w-100' id='" + actionlist + "' size='10'>" + response['data'] + "</select>"
        $("#" + actionlist).replaceWith(new_select);
        console.log(response['data']);
      });
    });

// fill in single person hide other fields
    function showSingleMember(id) {
      $.getJSON(member_detail + "?member_id=" + id)
        .done(response => {
        //  search_panel.hide();
          search_results.html("");
          // show the member
          member_display.html(response['data']);
          // set member_id
          member_id = id;
//          $("#cobalt-hidden-member").html("<input type='hidden' id='id_transfer_to' name='transfer_to' value='" + id + "'>");
        })
     }

// dynamic search
    $(".dynamic-search").on('keyup', function(event){

      event.stopPropagation();
      event.stopImmediatePropagation();

// get which field triggered this and set fiel names
      var me = event.target.id;
      var parts = me.split("_");

      var lastname = $("#" + parts[0] + "_" + parts[1] + "_lastname")
      var firstname = $("#" + parts[0] + "_" + parts[1] + "_firstname")

      var ln = lastname.val();
      var fn = firstname.val();

      search_results.html("");

      if (ln.length + fn.length > 3) {
        $.getJSON(member_search + "?lastname=" + ln + "&firstname=" + fn)
            .done(response => {
              // update screen with results
                search_results.html(response['data']);
              // watch for user selecting member and change screen again
                $(".cobalt-names").change(function(event){
                  var id=$(this).val();
                  showSingleMember(id);
                });
            })
      }
    });
  });

// Clear and hide generic member search popup
  function clearModal(){
    $('.dynamic_search').each(function(i, obj) {
      obj.val("");
    })
    search_results.html("");
    member_display.html("");
    $('#cobalt_general_member_search').modal('hide');
  }

// Generic member search popup ok button pressed

  function cobaltMemberSearchOk() {
    clearModal();

    $.get("{% url "rbac:rbac_add_user_to_group_ajax" %}?member_id=" + member_id + "&group_id=" + group_id)
        .done(response => {
          msg = response['data']['message'];
          if (msg == 'Success'){
            swal.fire({ title:"User Added", html: "Success. User added to group.", icon: "success", buttonsStyling: false})
            .then((result) => {
              location.reload();
            });
          } else {
            swal.fire({ title:"Error", html: msg, icon: "error", buttonsStyling: false})
          }
        });
  }



</script>
{% endblock %}
