{% extends 'base.html' %}

{% block content %}

<h1>Role Based Access Controls</h1>
<p>Groups control security within
the system. This shows the groups you are a member of.</p>

{% if groups %}

{% for key, value in groups.items %}
<div>
  <div class="card col-lg-9">
    <div class="card-header card-header-primary">
      <h3 class="card-title">Groups in {{ key }}</h3>
    </div>
    <div class="card-body" style="text-align: center">

      <div class="container">
        <div class="row">
          <table class="table table-responsive table-hover">
            <thead class="text-info">
              <tr>
                <th>Group ID</th>
                <th>Group Full Name</th>
                <th>Group Qualifier</th>
                <th>Group Name</th>
                <th>Group Description</th>
              </tr>
            </thead>
            <tbody>
              {% for v in value %}
                <tr>
                  <td><a href="{% url "rbac:group_view" group_id=v.id %}">{{ v.id }}</a></td>
                  <td><a href="{% url "rbac:group_view" group_id=v.id %}">{{ v.name_qualifier }}.{{ v.name_item }}</a></td>
                  <td><a href="{% url "rbac:group_view" group_id=v.id %}">{{ v.name_qualifier }}</a></td>
                  <td><a href="{% url "rbac:group_view" group_id=v.id %}">{{ v.name_item }}</a></td>
                  <td><a href="{% url "rbac:group_view" group_id=v.id %}">{{ v.description }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table><br>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
{% endfor %}

<p>Groups have roles which allow you to access parts of the system.
  These are your roles and the groups that they come from</p>
<div>
  <div class="card col-lg-9">
    <div class="card-header card-header-warning">
      <h3 class="card-title">Roles</h3>
    </div>
    <div class="card-body" style="text-align: center">

      <div class="container">
        <div class="row">
          <table class="table table-responsive table-hover">
            <thead class="text-info">
              <tr>
                <th class="text-left">Role ID</th>
                <th class="text-left">Group Full Name</th>
                <th class="text-left">Role</th>
                <th class="text-left">Rule Type</th>
              </tr>
            </thead>
            <tbody>
              {% for role in roles %}
                <tr>
                  <td class="text-left">{{ role.id }}</td>
                  <td class="text-left">[{{ role.group.id }}] {{ role.group }}</td>
                  <td class="text-left">{{ role.role }}</td>
                  <td class="text-left">{{ role.rule_type }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table><br>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div>
  <div class="card col-lg-9">
    <div class="card-header card-header-success">
      <h3 class="card-title">Explanation</h3>
    </div>
    <div class="card-body" style="text-align: left">
      <p>This explains rules specific to you.</p>
      <ul>
      {% for e in english %}
        <li>{{ e }}
      {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% else %}
<h2>Sorry, you don't appear to be in any groups at this time.</h2>
{% endif %}

{% endblock %}
