
{% extends 'signedout.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}

 <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

 <style>

 .centered-form{
 	margin-top: 60px;
 }

 .centered-form .panel{
 	background: rgba(255, 255, 255, 0.8);
 	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
 }
 </style>

<div class="container">

  <h1>Check your inbox.</h1>
  <p>We've emailed you instructions for resetting your password. You should receive the email shortly!</p>

</div>

 {% endblock %}
