{% extends 'signedout.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}

 <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
 <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

 <style>

 .centered-form{
 	margin-top: 60px;
 }

 .centered-form .panel{
 	background: rgba(255, 255, 255, 0.8);
 	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
 }
 </style>

 <div class="container">

         <div class="row centered-form">
         <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
         	<div class="panel panel-default">
         		<div class="panel-heading">
 			    		<h3 class="panel-title center-text"> {{ GLOBAL_ORG }} Technology</h3>
               <h3><small>Password Change</small></h3>
 			 			</div>
 			 			<div class="panel-body">

              This needs to be improved.

              {{ form }}

               <input type="submit" value="Change Password" class="btn btn-block">

<!--
                 {% if form.non_field_errors %}
                         {% for error in form.non_field_errors %}
                             {{ error }}
                         {% endfor %}
                 {% endif %}





                         <form action="" method="post">{% csrf_token %}
                             {{ form.new_password1.errors }}
                             <div class="form-group">
                                 <label for="id_new_password1">New password:</label>
                                 <input class="form-control" type="password" id="id_new_password1" name="new_password1" value="">
                             </p>
                             {{ form.new_password2.errors }}
                             <div class="form-group">
                                 <label for="id_new_password2">Confirm password:</label>
                                 <input class="form-control" type="password" id="id_new_password2" name="new_password2" value="">
                             </div>
                             <div class="row">
                                 <div class="col-lg-l2">
                                     <input type="submit" class="btn btn-default" value="Change my password" />
                                 </div>
                             </div>
                         </form>
 -->
 	    					<!-- <div class="form-group">
                   {{ form.new_password1.errors }}
 	    						<input type="password" name="new_password1" id="id_new_password1" class="form-control input-sm" placeholder="New Password">
 	    					</div>

                <div class="form-group">
                   {{ form.new_password2.errors }}
 	    						<input type="password" name="new)password2" id="id_new_password2" class="form-control input-sm" placeholder="Confirm Password">
 	    					</div> -->

<!--
 			    			<input type="submit" value="Change Password" class="btn btn-block"> -->


 			    	</div>
 	    		</div>
     		</div>
     	</div>
     </div>

 {% endblock %}
