{% extends 'base_logged_out.html' %}
{% load static %}

{% block content %}

<div class="container">


<div class="parallax">
</div>

<button> <a href="{% url "events:events" %}">VIEW CONGRESSES</a> </button>

</div>

<div class="buttoncluster">

<button><a href="{{ GLOBAL_ABOUT }}"> MAIN ABF SITE</a> </button>

<button style="float:right"><a href="https://www.abf.com.au/youth-bridge/"> YOUTH BRIDGE </a></button>

</div>

<div class="arrow-down">
</div>

<div class="boldfeature">

<button><a href="https://www.abf.com.au/education/getting-started/"> LEARN TO PLAY </a></button>

</div>

<br>

<h2> LATEST NEWS </h2>

<div class="newsitem">

<h2> 2020 ABF Online Teams Qualifying </h2>

<p>
    sectetur adipiscing elit.
    Sed sit amet nunc et quam molestie finibus convallis et ante
</p>

<button> READ MORE </button>

</div>

<div class="newsitem">

<h2> 2020 Golden West Swiss Pairs </h2>

<p>
  Mandurah, November 13-15, 2020
</p>

<button> READ MORE </button>

</div>

<div class="newsitem">

<h2> Sydney Spring Nationals Online Pairs 2020 </h2>

<p>
  Entries are now open for the Sydney Spring National Online Pairs
</p>

  <button> READ MORE </button>
</div>

{% endblock %}
