{% extends 'base_logged_out.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="container">


<div class="parallax">
</div>

<button> <a href="{% url "events:events" %}">VIEW CONGRESSES</a> </button>

</div>

<div class="buttoncluster">

<button><a href="{{ GLOBAL_ABOUT }}"> MAIN ABF SITE</a> </button>

<button style="float:right"><a href="https://www.abf.com.au/youth-bridge/"> YOUTH BRIDGE </a></button>

</div>

<div class="arrow-down">
</div>

<div class="boldfeature">

<button><a href="https://www.abf.com.au/education/getting-started/"> LEARN TO PLAY </a></button>

</div>

<br>

<h2> LATEST NEWS </h2>

{% for post in posts %}

<div class="newsitem">

<h2> {{ post.title }} </h2>

{{ post.text|truncatewords_html:15|safe }}

<button><a href="{% url 'forums:post_detail' pk=post.pk %}"> READ MORE </a></button>

</div>
{% endfor %}

{% endblock %}
