{% extends 'base_logged_out.html' %}
{% load static %}

{% block content %}

<div class="text-center">

  <a href="{% url "events:events" %}" class="btn btn-danger py-4 animate__animated animate__fadeIn animate__slow animate__delay-5s" style="width:600px"><span class="display-4 cobalt-text-transform-off">View Upcoming Congresses</span></a><br>
  <a href="{{ GLOBAL_ABOUT }}" class="btn btn-dark py-4 animate__animated animate__fadeIn animate__slow animate__delay-5s" style="width:600px"><span class="display-4 cobalt-text-transform-off">Visit Our Main Site</span></a><br>
  <a href="https://www.abf.com.au/education/getting-started/" class="btn btn-primary py-4 animate__animated animate__fadeIn animate__slow animate__delay-5s" style="width:600px"><span class="display-4 cobalt-text-transform-off">Learn To Play</span></a>
  <a href="https://www.abf.com.au/youth-bridge/" class="btn btn-success py-4 animate__animated animate__fadeIn animate__slow animate__delay-5s" style="width:600px"><span class="display-4 cobalt-text-transform-off">Youth Bridge</span></a>

</div>


{% endblock %}

<!-- Fix the footer for the main page only  -->
{% block fixed_bottom %}fixed-bottom{% endblock %}
