{% if things.has_other_pages %}
  <ul class="pagination">
    {% if things.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?{{ searchparams }}page={{ things.previous_page_number }}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}
    {% for i in things.paginator.page_range %}
      {% if things.number == i %}
        <li class="page-item active">    <span class="page-link">
              {{ i }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?{{ searchparams }}page={{ i }}">{{ i }}&nbsp;</a></li>
      {% endif %}
    {% endfor %}
    {% if things.has_next %}
      <li class="page-item"><a class="page-link" href="?{{ searchparams }}page={{ things.next_page_number }}">Next</a></li>
    {% else %}
      <li class="page-item disabled"><span>Next</span></li>
    {% endif %}
  </ul>
{% endif %}
